[Unit]
Description=Run the IR4 Laravel scheduler every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true
Unit=ir4-scheduler@%i.service

[Install]
WantedBy=timers.target
